<launch>

  <!-- Load swing arm controller configurations from YAML file to parameter server -->
  <rosparam file="$(find wheelchair_control)/config/swingarms_controller.yaml" command="load"/>

  <!-- Load wheel controller configurations from YAML file to parameter server -->
  <rosparam file="$(find wheelchair_control)/config/wheels_controller.yaml" command="load"/>


  <!-- Load the controllers -->
  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner"  
    respawn = "true"
    output="screen" 
    args="/SwingL_controller
          /SwingR_controller
          /joint_state_controller
          /mobile_base_controller"/>

</launch>