<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
    <arg name="paused" value="true"/>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find wheelchair_description)/urdf/wheelchair.urdf -urdf -z 0.36 -P 0.15 -model wheelchair "
    output="screen" />
</launch>